<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>웹페이지</title>
</head>
<body>
    <form action="/hello" method="POST">
        <div>
          <label for="say">이름 : </label>
          <input name="name" id="say" placeholder="이름" />
        </div>
        <div>
          <label for="to">내용 : </label>
          <input name="hello" id="to" placeholder="인사할내용" />
        </div>
        <div>
          <button>제출</button>
        </div>
      </form>
      
</body>
</html>