{% extends "layouts.html" %}
{% block nav %}
{% include 'nav.html' %}
{% endblock %}
{% block body %}
 <div class="container">
    <p class="h4">List</p>
    <table border = "1" align = "center">
        {% for x in data %}
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Author</th>
            <th>Time</th>
            <th>Edit</th>
            <th>Delete</th>
            <tr align = "center">
                <td>{{ x['id'] }}</td>
                <td>{{ x['title'] }}</td>
                <td>{{ x['desc'] }}</td>
                <td>{{ x['author'] }}</td>
                <td>{{ x['create_at'] }}</td>
                <td><a href="/edit/{{ x['id'] }}"><button class="btn bg-primary">편집</button></a></td>
                <td><a href="/delete/{{ x['id'] }}"><button class="btn bg-danger" onclick="return confirm_func()">삭제</button></a></td>
            </tr>      
            <br><br>
        {% endfor %}
    </table>
</div>
    <script>
        function confirm_func() {
            result = confirm('정말 삭제 하시겠습니까?')
            console.log(result)
            return result
        }
    </script>
{% endblock %}