<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Join Page</title>
</head>
<body>
<form action="/register" method="post" class="form-example">
	<div class="form-example">
		<label for="name">Enter Username: </label>
		<input type="text" name="username" id="name" required>
	</div>
	<div class="form-example">
		<label for="email">Enter your email: </label>
		<input type="email" name="email" id="email" required>
	</div>
	<div class="form-example">
		<label for="phone">Enter your Phone: </label>
		<input type="text" name="phone" id="phone" required>
	</div>
	<div class="form-example">
		<label for="password">Enter Password: </label>
		<input type="password" name="password" id="password" required>
	</div>
	<div class="form-example">
		<input type="submit" value="전송!">
	</div>
</form>
</body>
</html>